.emacs.d/private.init.el
.emacs.d/*.elc
.emacs.d/_elisp
!.emacs.d/elisp/my-elisp/*.el
!.emacs.d/elisp/color-theme/themes/my-color-theme.el
.emacs.d/elisp/*
.emacs.d/data/
.emacs.d/etc/*
.emacs.d/info/
.emacs.d/snippets/
.emacs.d/tmp/
.emacs.d/url/
.emacs.d/.saves/*
.zsh/.zcompdump

