# unnecessary files
*.elc
*~
.wl
.folders
.signature
custom-autogen.el
env.el
recentf
ac-comphist.dat
company-statistics-cache.el
network-security.data
projectile-bookmarks.eld
projectile.cache
abbrev_defs
tramp
elpa/
eshell/
howm/
tmp/
persp-confs/
transient/
